<% # @page_title="Hosts" %>
<% @mselect_about=1 %>
<% @action = "index" %>
<% @cont = "help" %>

<div id="help">
<h1>About YaptestFE v<%=h @yaptestfe_version %></h1>

Homepage: <a href="http://pentestmonkey.net/tools/yaptestfe">http://pentestmonkey.net/tools/yaptestfe</a><p>
Author: pentestmonkey@pentestmonkey.net<p>

Yaptest (and by extension YaptestFE) are intended to help automate the tedious parts of pentesting, leaving you to get on with the interesting stuff.

Feedback, feature requests, bug reports and patches are welcome.  Please include "YaptestFE v<%=h @yaptestfe_version %>" in the subject of your mail.  Ensure that you're running Yaptest Version 0.1.5 before reporting any bugs.

<h1>Credits</h1>

Here are a few credits to YaptestFE's contributors (some of them unknowing).

<h2>Exploding Boy</h2>
Horizontal and vertical menus are based on these:
<ul>
<li><a href="http://exploding-boy.com/images/EBmenus/menus.html">http://exploding-boy.com/images/EBmenus/menus.html</a></li>
<li><a href="http://exploding-boy.com/images/cssmenus/menus.html">http://exploding-boy.com/images/cssmenus/menus.html</a></li>
</ul>

<h2>Table CSS</h2>
The CSS for tables is based on the REDandBLACK example:
<ul>
<li><a href="http://icant.co.uk/csstablegallery/index.php?css=85#r85">http://icant.co.uk/csstablegallery/index.php?css=85#r85</a></li>
</ul>

<h2>Silk Icons</h2>
The paging and sorting icons are based on icons in this collection:
<ul>
<li><a href="http://www.famfamfam.com/lab/icons/silk/">http://www.famfamfam.com/lab/icons/silk/</a><li>
</ul>

<h2>Tool Tips</h2>
The mouse-over Tool Tips use the wz_tooltip.js library:
<ul>
<li><a href="http://www.walterzorn.com/tooltip/tooltip_e.htm">http://www.walterzorn.com/tooltip/tooltip_e.htm</a></li>
</ul>

<h2>Ferruh Mavituna</h2>
Thanks for taking the time to give a command-line junkie some Web App Development 101 lessons.
<ul>
<li><a href="http://ferruh.mavituna.com/">http://ferruh.mavituna.com/</a></li>
</ul>

<h2>Ruby on Rails</h2>
A framework that's so easy to use that I could actually be bothered learning a bit about it:
<ul>
<li><a href="http://www.rubyonrails.org/">http://www.rubyonrails.org/</a></li>
</ul>

</div>
